<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="port" value="3000" />
    <add key="monitoring_port" value="3001" />
    <add key="message_length" value="40" />
    <add key="monitoring_message_length" value="1024" />
    <add key="monitoring_public_key" value="<RSAKeyValue><Modulus>l0Q9Ua+mVXLEIx89SDtCkLrCLkR84b0iAJc3Zn7fAGGgKA3sS/t3MBzsrFoje1lEQ8pqMgfYWqSKlD2idHeI+ilWn2nsRJdoICkYZMpGQoGJlFbp91A8wxcCpL/0zSqSHhQOjmI29Y1anUmv9JnJLHesUzyIY5CnryGC6gYLRWE=</Modulus><Exponent>AQAB</Exponent></RSAKeyValue>" />
    <add key="trace" value="false" />
    <add key="logs_path" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Connexion1" providerName="System.Data.SqlClient" connectionString="Data Source=localhost; Initial Catalog=HackMyDeck; Integrated Security=true"/>
  </connectionStrings>
</configuration>