<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="port" value="3000" />
    <add key="monitoring_port" value="3001" />
    <add key="message_length" value="40" />
    <add key="monitoring_message_length" value="1024" />
    <add key="monitoring_public_key" value="Keys/monitoring.xml" />
    <add key="server_private_key" value="Keys/private.xml" />
    <add key="trace" value="false" />
    <add key="logs_path" value="" />
	<add key="binary_encoding" value="UTF8" />
  </appSettings>
  <connectionStrings>
    <add name="Connexion1" providerName="System.Data.SqlClient" connectionString="Data Source=localhost; Initial Catalog=HackMyDeck; Integrated Security=true"/>
  </connectionStrings>
</configuration>